BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(./back.gif) #98ad99 repeat-y 50% 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #343; PADDING-TOP: 0px; FONT-FAMILY: "Verdana", "ƒqƒ‰ƒMƒmŠpƒS Pro W3", "‚l‚r ‚oƒSƒVƒbƒN", "Osaka", sans-serif; TEXT-ALIGN: center
}
TABLE {
	BORDER-RIGHT: #eee 1px solid; BORDER-TOP: #eee 1px solid; MARGIN: 10px auto; BORDER-LEFT: #eee 1px solid; WIDTH: 730px; BORDER-BOTTOM: #eee 1px solid
}
TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 1px; BACKGROUND-COLOR: #fff
}
TABLE TD TABLE {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(./back.gif) repeat-y 50% 0px; BORDER-BOTTOM-WIDTH: 1px; WIDTH: 100%; BORDER-RIGHT-WIDTH: 0px
}
TABLE TD TABLE TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: transparent
}
TABLE TD IMG {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
H1 {
	FONT-SIZE: 100%; MARGIN: 90px auto 60px; WIDTH: 750px; COLOR: #888; LETTER-SPACING: 0.5em
}
H2 {
	FONT-WEIGHT: normal; FONT-SIZE: 1em; MARGIN: 0px
}
H3 {
	FONT-SIZE: 1em; MARGIN: 1em 0px
}
P {
	MARGIN: 0px; TEXT-INDENT: 1em
}
BLOCKQUOTE {
	BORDER-RIGHT: #aba 2px solid; MARGIN: 1em; BORDER-LEFT: #aba 2px solid; BACKGROUND-COLOR: #ded
}
PRE {
	WORD-BREAK: break-all; BACKGROUND-COLOR: #ded; WORD-WRAP: break-word
}
FORM {
	MARGIN: 0px
}
INPUT {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-LEFT-COLOR: #ddd; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #ddd; MARGIN: 0px 1px; BORDER-TOP-COLOR: #ddd; BACKGROUND-COLOR: #fff; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #ddd
}
TEXTAREA {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-LEFT-COLOR: #ccc; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #ccc; MARGIN: 5px; WIDTH: 480px; BORDER-TOP-COLOR: #ccc; HEIGHT: 300px; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #ccc
}
FORM.comment TEXTAREA {
	WIDTH: 400px; HEIGHT: 5em
}
BLOCKQUOTE TEXTAREA {
	WIDTH: 400px
}
DEL {
	COLOR: #888
}
INS {
	
}
Q {
	BACKGROUND-COLOR: #ded
}
CITE {
	
}
A:link {
	COLOR: #064
}
A:visited {
	COLOR: #693
}
A:hover {
	COLOR: #a00; TEXT-DECORATION: none
}
A.keyword:link {
	COLOR: #343; BORDER-BOTTOM: #693 1px solid; TEXT-DECORATION: none
}
A.okeyword:link {
	COLOR: #343; BORDER-BOTTOM: #693 1px solid; TEXT-DECORATION: none
}
A.keyword:visited {
	COLOR: #343; BORDER-BOTTOM: #693 1px dashed; TEXT-DECORATION: none
}
A.okeyword:visited {
	COLOR: #343; BORDER-BOTTOM: #693 1px dashed; TEXT-DECORATION: none
}
DIV.hatena-body {
	FONT-SIZE: 90%; LEFT: 0px; MARGIN: 0px auto; WIDTH: 750px; POSITION: relative; TOP: 0px
}
DIV.main {
	MARGIN-LEFT: 230px; TEXT-ALIGN: left
}
DIV.sidebar {
	LEFT: 0px; WIDTH: 222px; POSITION: absolute; TOP: 55px; TEXT-ALIGN: left
}
DIV.adminmenu {
	FONT-SIZE: 83%; MARGIN: 15px; WIDTH: 720px; TEXT-ALIGN: right
}
DIV.adminmenu A:link {
	COLOR: #999; TEXT-DECORATION: none
}
DIV.adminmenu A:visited {
	COLOR: #999; TEXT-DECORATION: none
}
DIV.main DIV.adminmenu {
	FONT-SIZE: 100%; WIDTH: auto
}
DIV.calendar {
	MARGIN: 15px
}
DIV.footer {
	FONT-SIZE: 90%; MARGIN: 15px; TEXT-ALIGN: center
}
DIV.day {
	BACKGROUND: url(./foot.gif) no-repeat 0px 100%; PADDING-BOTTOM: 30px; MARGIN: 0px auto; WIDTH: 510px; WORD-BREAK: break-all; LINE-HEIGHT: 1.6; WORD-WRAP: break-word
}
.main DIV.day {
	BACKGROUND: url(./body_main.gif) repeat-y 0px 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 3em; WIDTH: 510px
}
DIV.day H2 {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; BACKGROUND: url(./head.gif) no-repeat 0px 0px; PADDING-BOTTOM: 15px; PADDING-TOP: 15px; BORDER-BOTTOM: #ddd 1px solid; LETTER-SPACING: 1px; TEXT-ALIGN: center
}
.main DIV.day H2 {
	BACKGROUND: url(./head_main.gif) no-repeat 0px 0px; MARGIN: 0px 0px 10px
}
DIV.day H2 A:link {
	COLOR: #260; TEXT-DECORATION: none
}
DIV.day H2 A:visited {
	COLOR: #260; TEXT-DECORATION: none
}
SPAN.title {
	MARGIN: 0px 2px
}
DIV.body {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(./body.gif) repeat-y 0px 0px; PADDING-BOTTOM: 15px; WIDTH: 100%; PADDING-TOP: 15px; TEXT-ALIGN: left
}
.main DIV.body {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(./foot_main.gif) no-repeat 0px 100%; PADDING-BOTTOM: 1em; PADDING-TOP: 0px
}
IMG.photo {
	FLOAT: right
}
DIV.section {
	MARGIN: 30px 15px 45px; OVERFLOW: auto
}
.main DIV.section {
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px
}
DIV.section H3 {
	
}
H3 A {
	TEXT-DECORATION: none
}
SPAN.sanchor {
	CLEAR: left; DISPLAY: block; FONT-SIZE: 1px; BACKGROUND: url(./sanchor.gif) no-repeat 0px 0px; FLOAT: left; WIDTH: 20px; CURSOR: pointer; COLOR: #fff; MARGIN-RIGHT: 2px; HEIGHT: 20px
}
SPAN.timestamp {
	FONT-WEIGHT: normal; FONT-SIZE: 80%; COLOR: #999
}
DIV.section P {
	MARGIN: 5px 15px
}
DIV.section DL {
	MARGIN: 15px
}
DIV.section PRE {
	MARGIN: 15px
}
DIV.section BLOCKQUOTE {
	MARGIN: 15px
}
DIV.footnote {
	FONT-SIZE: 90%; MARGIN: 15px
}
P.footnote {
	TEXT-INDENT: 0px
}
SPAN.footnote {
	MARGIN-RIGHT: 0.5em
}
DIV.comment {
	BACKGROUND: url(./body.gif) repeat-y 0px 0px; TEXT-ALIGN: left
}
.main DIV.comment {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(./foot_main.gif) no-repeat 0px 100%; PADDING-BOTTOM: 20px; PADDING-TOP: 0px
}
DIV.caption {
	PADDING-RIGHT: 15px; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 15px; FONT-SIZE: 90%; BACKGROUND: url(./body.gif) repeat-y 0px 0px; PADDING-BOTTOM: 15px; PADDING-TOP: 15px; BORDER-BOTTOM: #ddd 1px solid; TEXT-ALIGN: left
}
.main DIV.caption {
	PADDING-RIGHT: 15px; BORDER-TOP: medium none; PADDING-LEFT: 15px; BACKGROUND: url(./head_main.gif) no-repeat 0px 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
DIV.commentshort {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; FONT-SIZE: 100%; PADDING-BOTTOM: 10px; PADDING-TOP: 15px
}
DIV.commentshort P {
	BORDER-TOP: #fff 1px solid; PADDING-LEFT: 0.5em; LEFT: 0px; TEXT-INDENT: 0px; POSITION: relative; TOP: 0px
}
SPAN.canchor {
	COLOR: #000
}
A SPAN.commentator {
	CURSOR: pointer
}
DIV.refererlist {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(./body.gif) repeat-y 0px 0px; PADDING-BOTTOM: 15px; PADDING-TOP: 15px; TEXT-ALIGN: left
}
.main DIV.refererlist {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(./foot_main.gif) no-repeat 0px 100%; PADDING-BOTTOM: 15px; PADDING-TOP: 0px
}
DIV.refererlist UL {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 15px; MARGIN: 0px 15px 15px; PADDING-TOP: 15px
}
DIV.refererlist UL LI {
	MARGIN-LEFT: 1em; COLOR: #000; LIST-STYLE-TYPE: circle
}
DIV.hatena-module {
	BACKGROUND: url(./module.gif) repeat-y 0px 0px; MARGIN: 0px 0px 25px 10px; WIDTH: 210px
}
DIV.hatena-moduletitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(./moduletitle.gif) no-repeat 0px 0px; PADDING-BOTTOM: 15px; MARGIN: 0px 0px 1em; PADDING-TOP: 15px; BORDER-BOTTOM: #ddd 1px solid; TEXT-ALIGN: center
}
DIV.hatena-modulebody {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: url(./modulebody.gif) no-repeat 0px 100%; PADDING-BOTTOM: 15px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
DIV.hatena-modulebody UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 20px; COLOR: #000; LINE-HEIGHT: 1.5; PADDING-TOP: 0px; LIST-STYLE-TYPE: circle; TEXT-ALIGN: left
}
DIV.hatena-modulebody UL LI {
	
}
DIV.hatena-modulebody UL LI IMG {
	BORDER-RIGHT: #272 1px solid; BORDER-TOP: #272 1px solid; MARGIN: 0px 0px 1px; VERTICAL-ALIGN: middle; BORDER-LEFT: #272 1px solid; BORDER-BOTTOM: #272 1px solid
}
TABLE.calendar {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 12px; MARGIN: 0px auto; BORDER-LEFT: medium none; WIDTH: auto; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: transparent
}
TABLE.calendar TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BACKGROUND-COLOR: transparent; TEXT-ALIGN: center
}
TABLE.calendar IMG {
	BORDER-RIGHT: #272 1px solid; BORDER-TOP: #272 1px solid; BORDER-LEFT: #272 1px solid; WIDTH: 1em; BORDER-BOTTOM: #272 1px solid; HEIGHT: 1em
}
DIV.hatena-modulebody UL.hatena-photo {
	MARGIN: 0px 5px; TEXT-ALIGN: center
}
DIV.hatena-modulebody UL.hatena-photo LI {
	DISPLAY: inline
}
DIV.day FORM {
	BACKGROUND: url(./foot.gif) repeat-y 0px 0px; MARGIN: 0px
}
DIV.day FORM.comment {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(./body.gif) repeat-y 0px 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.main DIV.day FORM.comment {
	BACKGROUND-IMAGE: url(./body_main.gif)
}
FORM DIV.section {
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px
}
H3.subtitle {
	PADDING-RIGHT: 5px; BORDER-TOP: #ddd 1px dashed; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #ddd 1px dashed
}
DIV.day H3.subtitle {
	BACKGROUND-IMAGE: none
}
DIV.day DIV.comment FORM DIV.commentshort {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; BACKGROUND: url(./body.gif) repeat-y 50% 0%; PADDING-BOTTOM: 15px; PADDING-TOP: 15px; TEXT-ALIGN: left
}
DIV.comment FORM {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
DIV.day FORM TABLE {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 12px; MARGIN: 0px 5px; BORDER-LEFT: medium none; WIDTH: 500px; BORDER-BOTTOM: medium none; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: transparent
}
DIV.day FORM TABLE INPUT {
	MARGIN: 0px
}
DIV.day INPUT {
	MARGIN: 0px 5px
}
DIV.day SELECT {
	MARGIN: 0px 5px
}
P {
	CLEAR: left
}
DL {
	CLEAR: left
}
UL {
	CLEAR: left
}
OL {
	CLEAR: left
}
TABLE {
	CLEAR: left
}
BLOCKQUOTE {
	CLEAR: left
}
PRE {
	CLEAR: left
}
FORM {
	CLEAR: left
}
DEL {
	CLEAR: left
}
INS {
	CLEAR: left
}
DIV.day TABLE {
	BORDER-RIGHT: #396 1px solid; BORDER-TOP: #396 1px solid; FONT-SIZE: 100%; MARGIN: 15px; BORDER-LEFT: #396 1px solid; WIDTH: auto; BORDER-BOTTOM: #396 1px solid; BACKGROUND-COLOR: transparent
}
DIV.day TH {
	BORDER-RIGHT: #6c9 1px solid; BORDER-TOP: #6c9 1px solid; BORDER-LEFT: #6c9 1px solid; BORDER-BOTTOM: #6c9 1px solid
}
DIV.day TD {
	BORDER-RIGHT: #6c9 1px solid; BORDER-TOP: #6c9 1px solid; BORDER-LEFT: #6c9 1px solid; BORDER-BOTTOM: #6c9 1px solid
}
